asttokens==2.4.1
decorator==5.1.1
executing==2.1.0
imageio==2.36.0
ipython==8.29.0
jedi==0.19.1
lazy_loader==0.4
matplotlib-inline==0.1.7
networkx==3.4.2
numpy==2.1.2
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
scikit-image==0.24.0
scipy==1.14.1
six==1.16.0
stack-data==0.6.3
tifffile==2024.9.20
traitlets==5.14.3
uv==0.8.6
wcwidth==0.2.13
